{% extends 'base.html.twig' %}

{% block title %}Hello TestApiController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>D:/HomeSubmissions/backend/src/Controller/TestApiController.php</code>
			</li>
			<li>Your template at
				<code>D:/HomeSubmissions/backend/templates/test_api/index.html.twig</code>
			</li>
		</ul>
		<button type="button" onclick="send()">TEST</button>
	</div>

	<script>
		function send() {
fetch('http://localhost:8000/api/login_check', {
method: 'post',
headers: {
"Content-Type": "application/json"
},
body: JSON.stringify(
{"username": "gel@test.com", "password": "test1234"}
)

}).then((response) => response.json()).then((data) => console.log(data));
}
	</script>
{% endblock %}
